.organisation-info{
   border-radius: 3px;
   border: 1.5px solid #e1e4e8;
   display: flex;
   border-top: #495057;
  
     img{
        $img-size: 150px;
        height: $img-size;
        width: $img-size;
        margin: 15px 10px;
     }
}

.m-3 {
   :first-child{
      font-weight:bold ;
      font-size:40px;
   }
   :last-child{
      font-weight: 200 ;
      font-size:13px;
   }
   @media (max-width:400px){
      :first-child{
         font-size: 20px;
         font-weight:bold;
      }
      :last-child{
         font-weight: 200 ;
         font-size:10px;
      }
   }
} 
 